[Unit]
Description=Download Customer Database Service

[Service]
Type=simple
ExecStart=/manager/home/turnstile_controller/.venv/bin/python3 /manager/home/turnstile_controller/download_customer_db.py
User=root
WorkingDirectory=/manager/home/turnstile_controller/
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
