[Unit]
Description=Run Download Customer Database Service every 15 minutes and on startup

[Timer]
OnBootSec=0s
OnCalendar=*:00/5
Persistent=true
Unit=download_customer_db.service

[Install]
WantedBy=timers.target
