[Unit]
Description=Heartbeat Monitor for QR Script
After=network.target

[Service]
# Execute the Heartbeat Monitor script
ExecStart=/root/turnstile_controller/.venv/bin/python3 /root/turnstile_controller/heartbeat_monitor.py

Restart=always
RestartSec=5
WorkingDirectory=/root/turnstile_controller/

[Install]
WantedBy=multi-user.target