[Unit]
Description=Bluetooth Sender Service
After=network.target

[Service]
ExecStart=/manager/home/turnstile_controller/.venv/bin/python3 /manager/home/turnstile_controller/mqtt_receiver.py
WorkingDirectory=/manager/home/turnstile_controller
User=root
Restart=always
RestartSec=0
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target