[Unit]
Description=My qr.py script A
After=network.target

[Service]
Environment="DIRECTION=A"
TimeoutStopSec=3
RestartSec=0
Restart=always
ExecStart=/home/manager/turnstile_controller/venv/bin/python3 /home/manager/turnstile_controller/qr.py
User=manager
WorkingDirectory=/home/


[Install]
WantedBy=multi-user.target
