[Unit]
Description=My qr.py script B
After=network.target

[Service]
Environment="DIRECTION=B"
TimeoutStopSec=3
RestartSec=0
Restart=always
ExecStart=/manager/home/turnstile_controller/.venv/bin/python3 /manager/home/turnstile_controller/qr.py
User=root
WorkingDirectory=/manager/home/turnstile_controller/


[Install]
WantedBy=multi-user.target
