[Unit]
Description=My qr.py script
After=network.target

[Service]
TimeoutStopSec=3
RestartSec=0
Restart=always
ExecStart=/root/turnstile_controller/.venv/bin/python3 /root/turnstile_controller/qr_multi_controller.py
User=root
#ExecStopPost=/usr/bin/python3 /home/pi/restart_msg.py  # This will run when the service is stopped/restarted
#StandardOutput=append:/home/pi/scan.log
#StandardError=append:/home/pi/scan_error.log
WorkingDirectory=/root/turnstile_controller/


[Install]
WantedBy=multi-user.target
