# Install into the project venv.
opencv-python-headless
requests
python-dotenv
evdev
RPi.GPIO
pytest
smbus2
pyserial
pyzmq
setproctitle
#systemd-python  # sudo apt install libsystemd-dev
rpi-lcd
unidecode
sentry_sdk
