[Unit]
Description=Video uploader
After=network.target

[Service]
TimeoutStopSec=3s
RestartSec=10
ExecStart=/root/turnstile_controller/.venv/bin/python3 /root/turnstile_controller/camera/upload_to_s3.py
User=root
Restart=always
WorkingDirectory=/root/turnstile_controller/


[Install]
WantedBy=multi-user.target