[Unit]
Description=Video Recorder
After=network.target

[Service]
TimeoutStopSec=3s
RestartSec=10
ExecStart=/manager/home/turnstile_controller/.venv/bin/python3 /manager/home/turnstile_controller/camera/videorecorder.py
User=root
Restart=always
WorkingDirectory=/manager/home/turnstile_controller/


[Install]
WantedBy=multi-user.target