[Unit]
Description=Video Recorder
After=network.target

[Service]
TimeoutStopSec=3s
RestartSec=10
ExecStart=/home/manager/turnstile_controller/venv/bin/python3 /home/manager/turnstile_controller/camera/videorecorder.py
User=manager
Restart=always
WorkingDirectory=/home/


[Install]
WantedBy=multi-user.target